<section class="showWS">
    <h1>Geriadur: Lexique étymologique des termes celtique</h1>
    <h3 id="words-count"></h3>
    <a href="/wordStems/add" class="btn">Ajouter un terme</a>
    <table>
        <thead>
        <tr>
            <th> Mot</th>
            <th> Genre</th>
            <th> Wordclass</th>
            <th> Traduction</th>
            <th> Parent</th>
            <th> Champs Lexical</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="wordstemtable"></tbody>
    </table>
    <div id="pagesbutton">
    </div>
    </section>